{% extends "outlets/base.html" %}

{% block css %}
<style>
/* Because I can't be bothered with separate files at the moment... */
body {
    background-color: #222;
    color: #CCC;
}
.switch-ctrl {
    width: 100%;
}
</style>
{% endblock %}

{% block content %}
    {% for outlet in outlets %}
    <div class="text-center">
        <div class="page-header">
            <h2>{{ outlet.name }} is <span id="{{outlet.id}}-state">{{ outlet.state }}</span>!</h2>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-danger switch-ctrl" onclick="sendSignal({{ outlet.id }}, 'off')">OFF</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary switch-ctrl" onclick="sendSignal({{ outlet.id }}, 'on')">ON</button>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
<script>
// Too lazy to pull this into its own file...
(function(window, $) {
    window.sendSignal = function(id, state) {
        $.getJSON(['/api', id, state].join('/'))
        .then(function(data) {
            $('#'+id+'-state').text(state);
        })
        .fail(function(data) {
            console.log(data);
        });
    }
}(this, jQuery));
</script>
{% endblock %}
